<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>520910419791-j20mn3j1rsjkoagfoo4jseokf211tbt5.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.520910419791-j20mn3j1rsjkoagfoo4jseokf211tbt5</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>520910419791-n1l6jmtb6e94ma41kau7ii5isa4od0m1.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyDfa27Z2YKoz22lTbdAjR79qGbw3yFj7bk</string>
	<key>GCM_SENDER_ID</key>
	<string>520910419791</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.flutterflow.helphut</string>
	<key>PROJECT_ID</key>
	<string>help-hut</string>
	<key>STORAGE_BUCKET</key>
	<string>help-hut.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:520910419791:ios:5eebeb2d14812e9efbb73a</string>
</dict>
</plist>